{% extends 'base.html' %}

{% block title %}Upload file | NoCode ML{% endblock %}

{% block content %}
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
             data-background="{{ url_for('static', filename='img/form-image.jpg') }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <div id="drag-drop-area" class="w-100"></div>
                </div>
                <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                    <blockquote class="blockquote text-center">Themesberg makes beautiful products to help people with
                        creative ideas succeed. Our company empowers millions of people.
                        <footer class="blockquote-footer mt-3 text-primary">Zoltan Szőgyényi</footer>
                    </blockquote>
                    <div class="card shadow w-100 p-4">
                        <div class="card-body text-center">
                            <form action="{{ url_for('home') }}" method="post">
                                <h6 class="start-text">Please upload a file to start the process...</h6>
                                <div class="form-group d-none">
                                    <input type="text" id="file-id" name="id" class="form-control mb-3"
                                           placeholder="File ID" readonly="readonly" required>
                                    <input type="text" id="file-name" name="name" class="form-control mb-3"
                                           placeholder="File Name" readonly="readonly" required>
                                    <input type="url" id="file-url" name="url" class="form-control mb-3"
                                           placeholder="File Url" readonly="readonly" required>
                                    <select class="form-select mb-3" id="select" name="header" required>
                                        <option disabled value="" selected hidden>Is Header Available?</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Proceed</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var uppy = new Uppy.Core({
                restrictions: {
                    maxNumberOfFiles: 1,
                    allowedFileTypes: ['text/csv', 'application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',],
                },
            })
                .use(Uppy.Dashboard, {
                    inline: true, target: '#drag-drop-area'
                })
                .use(Uppy.DragDrop, {
                    target: Uppy.Dashboard
                })
                .use(Uppy.Url, {
                    target: Uppy.Dashboard, companionUrl: 'https://companion.uppy.io/'
                })
                .use(Uppy.Tus, {endpoint: 'https://tusd.tusdemo.net/files/'});

            uppy.on('upload-success', (file, response) => {
                $("form .start-text").hide();
                $("form input#file-id").val(file.id);
                $("form input#file-name").val(file.name);
                $("form input#file-url").val(response.uploadURL);
                $("form .form-group").removeClass("d-none");
            });
        });
    </script>
{% endblock %}